li{
  font-size:35px;
  color:red;
}

#purple-li{
  color:purple

}

.header{
  font-size:70px;
color:dodgerblue;
}
.content{
  width:350px;
  display:inline-block;
}
.nav-button {
  background-color:dodgerblue;
  width:150px;
  margin:0 auto;
  display:inline-block;
}
  body{
    text-align:center;
  }

  p.test-class{
    color:chartreuse;
  }

  .body{
  text-align:center;
}

p.test-class{
  color:chartreuse;
}

.Gulls_1{
  position:relative;
  float:right;
}

.content-text{
  margin:15px;
}
.Gulls_1{
    position:relative;
    float:left;
  }

  .content-text{
    margin:15px;
  }
